{% extends 'base.html' %}
{% block content %}
<section>
<div class="container">
    <div class="row my-3">
        <div class="col-md-8">
        {% if post_list %}
            {% for post in post_list %}
                <h3 class="mt-4">
                    <a href="{% url 'blog:detail' post.id %}">
                    {{ post.title }}
                    </a>
                </h3>
                <p class="lead">
                    by {{ post.author }} <small>({{ post.pub_date }})</small>
                </p>
                <hr>

                {% if post.photo %}
                <div class="card">
                    <img src="{{ post.photo.url }}">
                </div>
                {% endif %}

                <p style="white-space:pre-line;">
                    {{ post.content }}
                </p>
                <hr>
            {% endfor %}
        {% else %}
            <p>포스트가 없습니다.</p>
        {% endif %}
        </div>
        <div class="col-lg-3">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="kw" value="{{ kw|default_if_none:'' }}" style="width:150px;">&nbsp;&nbsp;
                            <button type="button" id="btn_search"
                                    class="btn btn-primary" >Go!</button>
                        </div>
                    </div>
                <!--
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..."
                               aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
                -->
            </div>
            <!-- Categories widget-->
            <div class="card mb-4" id="categories-card">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <ul>
                        {% for category in categories %}
                        <li>
                            <a href="{{ category.get_absolute_url }}">
                                {{ category }}({{ category.post_set.count }})
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 페이지 리스트 -->
    <ul class="pagination justify-content-center">
        <!-- 이전 페이지 -->
        {% if post_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ post_list.previous_page_number }}">이전</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">이전</a>
            </li>
        {% endif %}

        <!-- 현재 페이지 -->
        {% for page_number in post_list.paginator.page_range %}
            {% if page_number == post_list.number %}
            <li class="page-item active">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endfor %}

        <!-- 다음 페이지 -->
        {% if post_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ post_list.next_page_number }}">다음</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">다음</a>
            </li>
        {% endif %}
    </ul>
    <!-- 검색 폼 -->
    <form method="get" id="searchForm">  <!-- get방식 -->
        <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
        <input type="hidden" id="page" name="page" value="{{ page }}">
    </form>
</div>
</section>
{% endblock %}
{% block script %}
<script>
    $(function(){
        //페이지 처리
        $('.page-link').click(function(){         //페이지 번호를 클릭하면
            $('#page').val($(this).data('page'))  //페이지번호를 id가 page인 필드에 설정후
            $('#searchForm').submit();            //숨겨서 폼을 전송함
        });

        //검색 처리
        $('#btn_search').click(function(){ //'찾기'를 클릭하면
            $('#kw').val($('.kw').val());   //입력된 키워드를 id가 kw인 필드에 설정
            $('#page').val(1);             //1페이지부터 검색
            $('#searchForm').submit();     //숨겨서 폼을 전송함
        });
    });
</script>
{% endblock %}
