{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>JinA Blog</title>
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
</head>
<body>
{% include 'navbar.html' %}
<!-- 본문 영역 - 기본 파일안에 삽입될 내용 start-->
{% block content %}
<!--내 용-->
{% endblock %}
<!--기본 파일안에 삽입될 내용 end-->
{% include 'footer.html' %}

<!-- 자바스크립트 영역 -->
<script src="{% static 'blog/js/jquery-3.6.0.js' %}"></script>
<script src="{% static 'blog/js/bootstrap.js' %}"></script>
{% block script %}

{% endblock %}

</body>
</html>